.container{
    width: 100%;
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
}


.avt-image{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.main{
    width: 70%;
    margin-left: 15px;
}

.main-top{
    display: flex;
    justify-content: space-between;
}

.main-bot{
   display: flex ;
}
.content{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 12px;
    margin-top: 15px;
}
.name{
    margin-bottom: 10px;
}

.button{
    margin-left: 50px;
}